<div class="container">
  <div class="history">
    <h3>JUST RESERVE</h3>
    <p>
      Bienvenido a nuestra página web de reservas de mesas para restaurantes. En nuestro sitio, nos apasiona ayudarte a
      descubrir nuevos lugares para comer y brindarte una experiencia gastronómica excepcional.</p>
    <p>
      Encontrar el restaurante perfecto y asegurar una mesa puede ser un desafío, pero con nuestra plataforma, todo es
      más
      fácil. Conectamos a los comensales con una amplia selección de restaurantes de alta calidad en todo el país,
      brindándote
      la oportunidad de explorar diferentes cocinas, ambientes y experiencias culinarias.</p>
    <p>
      Nuestro objetivo es proporcionarte un proceso de reserva sencillo y sin complicaciones. Con solo unos pocos clics,
      podrás elegir la fecha, la hora y el tamaño de tu grupo, y encontrarás una lista de restaurantes que se adaptan a
      tus
      preferencias. Además, puedes navegar por las reseñas y calificaciones de otros usuarios para tomar una decisión
      informada.</p>
    <p>
      Trabajamos en estrecha colaboración con los restaurantes asociados para garantizar que recibas un servicio de
      calidad y
      una experiencia gastronómica memorable. Valoramos la satisfacción de nuestros clientes y nos esforzamos por
      brindar un
      servicio excepcional en cada paso del camino.
    </p>
    ¡Explora nuestra página web, descubre nuevos restaurantes y haz tus reservas hoy mismo! Ya sea que estés planeando
    una
    cena romántica, una reunión familiar o una salida con amigos, estamos aquí para hacer que tus experiencias
    gastronómicas
    sean inolvidables.
    <p>
      Gracias por elegir nuestra plataforma de reservas de mesas para restaurantes. Esperamos ser tu compañero confiable
      en la
      búsqueda de las mejores opciones culinarias.
    </p>
  </div>
  <div class="image">
    <img alt="logo_grande" src="../../../assets/OGbanner.png">
  </div>

</div>
