@import"../../../styles.scss";

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  padding: 2rem;
  margin-bottom: 5%;

  .cartaComida {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 500px;
    height: 750px;
    background-color: bisque;
    gap: 1rem;

    h2 {
      display: flex;
      justify-content: center;
      margin-top: 2rem;
    }

    h3 {
      margin-left: 1rem;
    }

    p {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      margin-left: 2rem;
    }

  }

  .seletedRestaurant {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 3rem;
  }

  .cardRestaurants {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;

    .card {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: white;
      position: relative;
      border-radius: 10px;
      height: 300px;
      width: 300px;
      padding: 1rem;
      background-color: $accentColor;
      box-shadow: -1.2rem 0.5rem 2rem -0.5rem $buttonHover;
      gap: 1rem;
      overflow: hidden;
      cursor: pointer;
      transition: all;
      transition-duration: 500ms;

      &:hover {
        width: 400px;
        height: 400px;
        font-size: 1.4rem;
      }

      .title {
        display: flex;
        text-align: center;
        align-items: flex-start;
      }

      img {
        display: flex;
        margin-top: 1rem;
        justify-content: space-around;
        width: 150px;
        height: 150px;
      }

      .descriptionCard {
        display: flex;
        align-items: flex-start;

        p {
          margin: 1rem;

        }
      }
    }

  }

}
