<div class="container">
  <div *ngIf="userLog" class="profile">
    <h2>Bienvenido {{userLog.username}}</h2>
    <div class="user-info">
      <img *ngIf="userLog.username === 'DC' " src="../../../assets/panda.jpg" alt="Foto de perfil">
      <img *ngIf="userLog.username === 'Wallotorm' " src="../../../assets/mono.jpg" alt="Foto de perfil">
      <img *ngIf="userLog.username === 'Carlitos' " src="../../../assets/justReserve.jpg" alt="Foto de perfil">
      <div class="user-details">
        <p>{{userLog.email}}</p>
        <p>{{userLog.name}}</p>

      </div>
    </div>
    <div *ngIf="userLog.owner===true" class="restaurante">
      <h2>Propietario </h2>

    </div>
    <div *ngIf="userLog.owner===false" class="restaurante">
      <p>No es propietario</p>
    </div>
  </div>
</div>
