@import "../../../styles.scss";

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: max-content;
  width: 100%;
  margin-bottom: 4rem;

  .notification {
    position: fixed;
    top: 350px;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    color: black;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    transition: opacity 0.5s ease;
    opacity: 0;
    z-index: 9999;

    &.show {
      opacity: 1;
    }
  }

  .find {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    justify-content: center;
    width: 30rem;
    height: 15rem;
    margin: 2rem 0 4rem;
    background-color: $boxes;
    color: white;

    h3 {
      margin-top: 5rem;
    }

    select {
      border-radius: 10px;
    }

    .options {
      display: flex;
      align-items: center;
      height: 15rem;
      width: 30rem;
      margin-top: 2rem;
    }



    button {
      background-color: $mainColor;
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      border-radius: 50px;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 2rem 0 4rem 0;
      cursor: pointer;

      &:hover {
        background-color: $buttonHover;
      }
    }



    form {
      display: flex;
      flex-direction: column;
      align-content: flex-start;
      width: 20rem;
      margin: 0 2rem;
      gap: 1rem;

      input,
      select {
        height: 3rem;
      }
    }
  }

  .searchRestaurantes {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    gap: 1rem;
    margin-left: 30%;
    color: white;
    margin-right: 30%;

    .card {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 10px;
      border: solid 0.1rem $buttonHover;
      width: 10%;
      color: white;
      padding: 2rem;
      background-color: $accentColor;
      gap: 1rem;
      cursor: pointer;
      transition: all;
      transition-duration: 500ms;

      .title {
        text-align: center;
      }

      .descriptionCard {
        p {
          margin: 1rem;
        }
      }
    }

    .card:hover {
      width: 200px;
      height: 200px;
      font-size: 1.4rem;
      border: solid 0.1rem $buttonHover;

      img {
        width: 50%;
        height: auto;
      }
    }
  }
}

@media screen and (max-width: 503px) {
  .container {
    width: 100%;
    overflow-x: hidden;
  }

  .find {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    justify-content: center;
    width: 25rem !important;
    height: 30rem !important;
    margin: 2rem 0 4rem;
    background-color: $boxes;

    .options {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      height: 80rem;
      width: 10rem;
    }

    button {
      padding-bottom: 8rem;
    }

  }

  .card {
    width: 15rem !important;
    color: white;
    border: solid 0.1rem $buttonHover;

    &:hover {
      width: 200px;
      height: 200px;
      font-size: 1.4rem;

      img {
        width: 50%;
        height: auto;
      }
    }

  }

}
