@import "../../../styles.scss";

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: $accentColor;
  margin-top: 5%;
  gap: 2rem;
  margin-bottom: 20%;

  .header {
    margin-bottom: 2rem;
  }

  h1 {
    font-size: 2rem;
    font-weight: bold;
    color: white;
  }

  .notification {
    position: fixed;
    top: 350px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(255, 68, 68, 0.942);
    color: black;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    transition: opacity 0.5s ease;
    opacity: 0;
    z-index: 9999;

    &.show {
      opacity: 1;
    }
  }

  .options {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    transition: all;
    transition-duration: 450ms;

    input {
      height: 30px;
      width: 120px;
      border-radius: 1rem;
    }

    .delete {
      background-color: rgba(243, 5, 5, 0.515);

      &:hover {
        height: 35px;
        background-color: rgba(243, 5, 5, 0.696);
        box-shadow: -1.2rem 0.5rem 2rem -0.5rem rgba(225, 103, 103, 0.96);
        cursor: pointer;
      }
    }

    .edit {
      background-color: rgba(0, 183, 255, 0.6);

      &:hover {
        height: 35px;
        background-color: rgba(0, 183, 255, 0.746);
        box-shadow: -1.2rem 0.5rem 2rem -0.5rem rgba(103, 190, 225, 0.96);
        cursor: pointer;
      }
    }
  }

  .containerReservas {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }

  .reservas {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    gap: 2rem;
    height: 150px;
    width: 600px;
    background-color: white;
    border: solid 0.2rem $accentShadow;
    border-radius: 1rem;
  }

  .reservasExpired {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-start: 2;
    justify-items: center;
    align-items: center;
    gap: 2rem;
    height: 150px;
    width: 600px;
    background-color: $boxes;
    border-radius: 1rem;

    .info {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      color: white;
      overflow-x: hidden;
      /* evita que el contenido se desplace horizontalmente */
    }
  }

  .restaurante {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: #30DDB7;
    margin-left: 0.5rem;
  }

  h2 {
    font-size: 1.5rem;
    font-weight: bold;
  }

  p {
    font-size: 1rem;
  }

  .info {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: black;
    overflow-x: hidden;
    /* evita que el contenido se desplace horizontalmente */
  }

  .info p {
    margin: 0;
  }
}
